<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find mastering_ros_robot_description_pkg)/urdf/diff_wheeled_robot_with_laser.xacro'"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
      <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model diff_wheeled_robot -param robot_description"/>
  
  <include file="$(find diff_wheeled_robot_control)/launch/keyboard_teleop.launch"/>
  <include file="$(find diff_wheeled_robot_gazebo)/launch/gmapping.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diff_wheeled_robot_gazebo)/launch/gmapping.rviz"/>

</launch>